<mat-form-field style="display: block">
  <input matInput type="text" #testInput
    placeholder="Test content to add"
    [value]="testContentInput$ | async"
    (input)="setTestContentInput(testInput.value)" />
  <button type="button" mat-icon-button matSuffix (click)="onAddTestContent()">
    <mat-icon>add</mat-icon>
  </button>
</mat-form-field>

<div class="content-size-display mat-body-strong"
  *ngIf="contentSize$ | async as contentSize">
  Width:&nbsp;{{contentSize.width}}&nbsp;&nbsp;Height:&nbsp;{{contentSize.height}}
</div>
<mat-divider></mat-divider>
<br/>
<div class="content-to-observe" (observeResize)="onContentResized($event)">
  <p *ngFor="let content of testContent$ | async">{{content}}</p>
</div>
