<atlas-shared-docs-example title="Atlas File Input with Drop Area">
    <atlas-code-example [codeExample]="withDropAreaExample$ | async">
        <atlas-code-example-header>
            <h3>With Drop Area</h3>
        </atlas-code-example-header>
        <atlas-drop-area-example></atlas-drop-area-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="withoutDropAreaExample$ | async">
        <atlas-code-example-header>
            <h3>Without Drop Area</h3>
        </atlas-code-example-header>
        <atlas-input-only-example></atlas-input-only-example>
    </atlas-code-example>
</atlas-shared-docs-example>
