<atlas-shared-docs-example title="Button Group">
    <atlas-code-example [codeExample]="oneButtonExample$ | async">
        <atlas-code-example-header>
            <h3>One Button</h3>
        </atlas-code-example-header>
        <atlas-one-button-example></atlas-one-button-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="twoButtonExample$ | async">
        <atlas-code-example-header>
            <h3>Two Buttons</h3>
        </atlas-code-example-header>
        <atlas-two-button-example></atlas-two-button-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="threeButtonExample$ | async">
        <atlas-code-example-header>
            <h3>Three Buttons</h3>
        </atlas-code-example-header>
        <atlas-three-button-example></atlas-three-button-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="tenButtonExample$ | async">
        <atlas-code-example-header>
            <h3>Ten Buttons</h3>
        </atlas-code-example-header>
        <atlas-ten-button-example></atlas-ten-button-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="mixedColorButtonExample$ | async">
        <atlas-code-example-header>
            <h3>Mixed Buttons(Color)</h3>
        </atlas-code-example-header>
        <atlas-mixed-buttons-color-example></atlas-mixed-buttons-color-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="mixedStyleButtonExample$ | async">
        <atlas-code-example-header>
            <h3>Mixed Buttons(Style)</h3>
            <h5><i>I would recommend not doing this :)</i></h5>
        </atlas-code-example-header>
        <atlas-mixed-buttons-style-example></atlas-mixed-buttons-style-example>
    </atlas-code-example>
</atlas-shared-docs-example>
