<atlas-button-group>
    <button color="primary" mat-raised-button> Button 1</button>
    <button color="accent" mat-raised-button> Button 2</button>
    <button color="warn" mat-raised-button> Button 3</button>
    <button color="secondary-accent" mat-raised-button> Button 4</button>
    <button color="tertiary-accent" mat-raised-button> Button 5</button>
    <button color="neutral" mat-raised-button> Button 6</button>
    <button color="success" mat-raised-button> Button 7</button>
    <button color="brand" mat-raised-button> Button 7</button>
    <button mat-raised-button> Button 8</button>
</atlas-button-group>
