<atlas-shared-docs-example title="Rich Text Inputs with sample output">
    <atlas-code-example [codeExample]="basicExample$ | async">
        <atlas-code-example-header>
            <h3>Basic Usage</h3>
        </atlas-code-example-header>
        <atlas-rich-text-basic-use-example></atlas-rich-text-basic-use-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="markdownExample$ | async">
        <atlas-code-example-header>
            <h3>Markdown Output</h3>
        </atlas-code-example-header>
        <atlas-rich-text-markdown-output-example></atlas-rich-text-markdown-output-example>
    </atlas-code-example>
    <atlas-code-example [codeExample]="replacementTextExample$ | async">
        <atlas-code-example-header>
            <h3>Replacement Text</h3>
        </atlas-code-example-header>
        <atlas-rich-text-replacement-text-example></atlas-rich-text-replacement-text-example>
    </atlas-code-example>
</atlas-shared-docs-example>
